*{
    background-color: darkolivegreen;
}

*{
    font-family: メイリオ;
    color:darkkhaki;
}
body nav li{
    display: inline;
    padding-right: 30px;
}
body nav li a,body nav li{
    text-decoration: none;
    color: darkkhaki;
}