*{
    background-color: darkolivegreen;
}

*{
    font-family: メイリオ;
    color:darkkhaki;
}
body nav li{
    display: inline;
    padding-right: 30px;
}
a:link{
    text-decoration: none;
    color: darkkhaki;
}
a:visited{
    text-decoration: none;
    color: darkslategray;
}
a:hover{
    text-decoration: none;
    color: darkgoldenrod;
}
a:active{
    text-decoration: none;
    color: rgb(110, 84, 17);
}